body {
	margin: auto;
	background-color: gray;
	font-size: 16pt;
}

aside {
	margin-top: 0px;
	text-align: center;
	background-color: lightgray;
	padding: 10px;
}

main {
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	background-color: lightgray;
}

nav {
	background-color: lightyellow;
	margin-bottom: 0px;
	margin-top: 0px;
}

.tagline {
	text-align: left;
	padding: 10px;
	margin-top: 10px;
	background-color: lightyellow;
}

ul {
	padding: 4px;
	margin: 10px;
}

li {
	display: inline-block;
	padding: 4px;
	margin: 4px;
	box-sizing: border-box;
	border-width: 3px;
	border-color: black; 
	background-color: beige;
}
 
.container {
	margin: auto;
	width: 70%;
}

footer {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: lightgray;
	padding: 10px;
}
